@model (WebApplicationTree_View_Yapilandirmasi.Models.Product p, WebApplicationTree_View_Yapilandirmasi.Models.User u)

<h1>@Model.p.Id</h1>
<h1>@Model.p.ProductName</h1>
<h1>@Model.p.UnitPrice</h1>
<br></br>

<h1>@Model.u.Id</h1>
<h1>@Model.u.Name</h1>
<h1>@Model.u.LastName</h1>